node_modules
coverage
dist
build
compiled


.DS_Store
*.log
.vscode
.idea


npm-debug.log*

database/*
!database/.gitkeep

envs/*.env
!envs/*.example.env
!envs/.gitkeep 

logs/*
!logs/.gitkeep 



binance-datasets/datasets/spot-monthly-trades/*
!binance-datasets/datasets/spot-monthly-trades/.gitkeep
