node_modules
coverage
dist
build
compiled
/logs/*


.DS_Store
*.log
.vscode
.idea


npm-debug.log*


envs/*
!envs/.gitkeep 



database/*
!database/.gitkeep

binance-datasets/datasets/spot-monthly-trades/*
!binance-datasets/datasets/spot-monthly-trades/.gitkeep

binance-datasets/datasets/_temp-files-trades/*
!binance-datasets/datasets/_temp-files-trades/.gitkeep
