node_modules
coverage
dist
build
compiled


.DS_Store
*.log
.vscode
.idea


npm-debug.log*

database/*
!database/.gitkeep

envs/*
!envs/.gitkeep 

logs/*
!logs/.gitkeep 



binance-datasets/datasets/spot-monthly-trades/*
!binance-datasets/datasets/spot-monthly-trades/.gitkeep

binance-datasets/datasets/_temp-files-trades/*
!binance-datasets/datasets/_temp-files-trades/.gitkeep
